{% extends "base.html.twig" %}

{% block body %}
<style>
    .maintenace{
        margin:0 auto;
        background: #003;
        position: absolute;
        top: 100px;
        transform:translate(12,10);
        text-align:center;
        color:#fff;
        border-radius: 15px
    }
    h1,h2,h4{
        color:#fff;
    }
    p{
        color:#fff
    }
    .maintenace img{
        border-radius: 15px
    }
</style>
<div class="container-fluid" style="background:#003">
    <div class="row">
        <div class="col-lg-12 text-center mt-5" style="height:100vh">
            <img src="{{ asset('img/logo-tkr.png') }}" alt="" srcset="">
            <h2>MALICK TOUNKARA</h2>
            <h4>&lt/developpeur Web></h4>
            <div>
                <h1>Le site est en maitenance</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}